{
  "extends": ["unobtrusive", "unobtrusive/import", "unobtrusive/flowtype"],
  "plugins": ["jest"],
  "rules": {
    "flowtype/no-dupe-keys": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
